// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section1,
.section2{
	margin-left: 20px;
}
/*---item/index---*/
.item-index{
	height: 1350px;
	padding:  40px 0;
}
.genre-checkbox{
	padding: 5px 0;
}
.item_paginate{
	text-align: center;
}